body{
	background-color: #002D04;
}
/** .header
{
	text-align: center;
	color: #FF5B04;
	background-color: #1F7D1F;
	padding: 25px;
}
.header h1
{
	font-size: 95px;
}
.header p
{
	font-size: 35px;
}
*/
.title-image{
	background-image: url("https://npr.brightspotcdn.com/dims3/default/strip/false/crop/3000x2000+0+0/resize/2600/quality/85/format/webp/?url=http%3A%2F%2Fnpr-brightspot.s3.amazonaws.com%2Fee%2F58%2F5e03632b484d965ae290c926e20d%2Fla-fires-key-moments-19.jpg");
	/*background-color: #002D04;*/
	height: 1100px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#home
{
	color: #ffffff;
}
#navbar
{
	position: sticky;
	top: 0;
	overflow: hidden;
	padding: 25px;
	background-color:  #002D04;
	/*text-align: center;
	font-size: 25px;*/
}
#navbar a
{
	float: left;
	display: block;
	text-align: center;
	padding 14px 16px;
	text-decoration: none;
	font-size: 20px;
	margin-right: 10px;
	color: #FF5C00;
}
#navbar a:hover
{
	color: #00FFFF;
}
